<script type="text/template" id="register">
<div class="centered">
  <div class="info"></div>
  <form class='register' >
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" name="first_name" /required>
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" name="last_name" /required>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" /required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" /required>
    </div>
    <button type="submit" class="btn btn-default">Register</button>
    <a class='login btn'>Login</a>
  </form>
</div>
</script>
