<script type="text/template" id="tickets">
<nav class='navbar navbar-inverse'>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a>Tickets <span class="sr-only">(current)</span></a></li>
      {{#isAdmin? this}}
        <li><a href='#' class='users'>Users</a></li>
      {{/isAdmin?}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class='signout'>Sign Out</a></li>
    </ul>
  </div>
</nav>
<section>
  <div class="container-fluid custom-div">
    <div class="row">
      <div class="md-8" id="create-ticket">
      </div>
      <a class="open-create-ticket btn btn-success"> Create ticket </a>
    </div>
    <div class="row">
      <!--div class='col-md-9'-->
        <h1> Submited Tickets </h1>
        <table class='table'>
          <thead>
            <th> Subject </th>
            <th> Content </th>
            <th> Status </th>
            <th> User </th>
            <th> Actions </th>
          </thead>
          <tbody>
          {{#each this}}
            <tr>
              <td>{{getTitle this}}</td>
              <td>{{getContent this}}</td>
              <td> {{getHumanized_status this}}</td>
              <td> {{getUsername this}}</td>
              <td> 
                <a class='edit-ticket btn btn-warning' data-id="{{getId this}}">Edit</a>
                {{# isUser?}}
                  <a class='remove-ticket btn btn-danger' data-id="{{getId this}}">Remove</a>
                {{/isUser?}}
              </td>
            </tr>
          {{/each}}
          <tbody>
        </table>
      <!--/div-->
    </div>
  </div> 
<section>
</script>
